<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School_Admin</title>
    <!--Boostrap css Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!--css Link-->
    <link rel="stylesheet" href="../css/admin.css">

</head>
<body>
    <div class="container-fluid mani-cont d-flex position-relative gx-0
    ">
    <!--********Left********-->

        <!--Left Section Start-->
      <div class="container-fluid left_sec gx-0">
         <!--Left Navigation Start-->
           <div class="container-fluid left-nav">
             <div class="container h-auto">
                 <!--LOGO-->
                 <a href="../admin.html" style="text-decoration: none; color:#fff;"><h1 class="logo py-3">LOGO</h1></a>
             </div>
           </div>
         <!--Left Navigation End-->

         <div class="container-fluid">
            <img class="menu_ico py-2" src="../img/menu (2).png">
            <img class="x_ico py-2 mx-2" src="../img/x-button.png">
            <div class="container dash_cont">
                
                <div class="dash d-flex px-1 py-2">
                    <img style="width: 37px; height: 25px" src="../img/dashboaed_logo.png" />
                    <h5 class="text-light px-2">Dashboard</h5>
                </div>

                <!--Teacher Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <p>Teachers</p>
                        <div class="item_gap"></div>
                        <img class="arrow-down1 mx-2" src="../img/arrow_down.png"/>
                        <img class="arrow-up1 mx-2" src="../img/arrow-up.png"/>
                    </div>
                    <div class="item_li">
                        <p>Students Attendance</p>
                        <a href="" style="text-decoration: none; color:#fff;"><p>Teachers Attendance</p></a>
                        <a href="" style="text-decoration: none; color:#fff;"><p>View Attendance</p></a>
                        <a href="" style="text-decoration: none; color:#fff;"><p>Teachers Salary</p></a>
                        <a href="./teachers_add.html" style="text-decoration: none; color:#fff;"><p>Teacher Add</p></a>
                    </div>
                </div>
                <!--Teacher Item End-->


                <!--Forms Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <p>Forms</p>
                        <div class="item_gap"></div>
                        <img class="arrow-down2 mx-2" src="../img/arrow_down.png"/>
                        <img class="arrow-up2 mx-2" src="../img/arrow-up.png"/>
                    </div>
                    <div class="item_li2">
                        <div class="d-flex flex-column">
                            <a href="" class="nav-link text-light"><p>upload form</p></a>
                        </div>
                    </div>
                </div>
                <!--Forms Item End-->

                <!--Notification Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <p>Notifications</p>
                        <div class="item_gap"></div>
                        <img class="arrow-down3 mx-2" src="../img/arrow_down.png"/>
                        <img class="arrow-up3 mx-2" src="../img/arrow-up.png"/>
                    </div>
                    <div class="item_li3">
                        <div class="d-flex flex-column">
                            <a href="./notice.html" style="text-decoration: none; color:#fff;"><p>upload notice</p></a>

                            <a href="./notice_view.html" style="text-decoration: none; color:#fff;"><p>view notice</p></a>

                            
                            
                        </div>
                    </div>
                </div>
                <!--Notifications Item End-->

                <!--Events Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <p>Events</p>
                        <div class="item_gap"></div>
                        <img class="arrow-down4 mx-2" src="../img/arrow_down.png"/>
                        <img class="arrow-up4 mx-2" src="../img/arrow-up.png"/>
                    </div>
                    <div class="item_li4">
                        <div class="d-flex flex-column">
                            <p>event 1</p>
                            <p>event 2</p>
                        </div>
                    </div>
                </div>
                <!--Events Item End-->

                <!--Student Management Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <p>Student Management</p>
                        <div class="item_gap_student"></div>
                        <img class="arrow-down5 mx-2" src="../img/arrow_down.png"/>
                        <img class="arrow-up5 mx-2" src="../img/arrow-up.png"/>
                    </div>
                    <div class="item_li5">
                        <div class="d-flex flex-column">
                            <a href="./add_Student.html" style="text-decoration: none; color:#fff;"><p>Add Student</p></a>
                            <a href="./viewStudents.html" style="text-decoration: none; color:#fff;"><p>View Students</p></a>
                        </div>
                    </div>
                </div>
                <!--Student Management End-->

                <!--Sign in Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <a class="sign_rt" href="" style="text-decoration:none; color:#fff;">
                            <p>Sign in</p>
                        </a>
                        
                       
                    </div>
                    
                </div>
                <!--Sign in Item End-->

                <!--Sign up Item Start-->
                <div d-flex flex-column>
                    
                    <div class="item d-flex align-items-center">
                        <a class="sign_rt" href="" style="text-decoration:none; color:#fff;">
                            <p>Sign up</p>
                        </a>
                        
                       
                    </div>
                    
                </div>
                <!--Sign up Item End-->
            </div>
         </div>
      </div>
       <!--Left Section End-->
  




  <!--**********Right*********-->


       <!--Right Section Start-->
       <div class="container-fluid right_sec gx-0 position-absolute">
        <!--Right Navigation Start-->
          <div class="container-fluid right-nav">
            <div class="container-fluid d-flex align-items-center h-auto position-relative nav-cont">
                <!--User Image Upload Section Start-->
               <div class="user_det d-flex py-3 align-items-center">
                <img class="user_img rounded-circle" id="user_image" src="../img/user_full_image.png"/>
                
                   <div>
                       <h6 class="text-light px-3 admin_name">WELCOME ADMIN</h6>
                       <label class="user_img_upload text-center" for="user-input"><p class="admin_subject">Upload Image</p></label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="user-input"/>
                   </div>
              </div>
              <!--User Image Upload Section End-->
               <section class="right_op d-flex">
                <!--Notice Alert Icon-->
                <a href=""><img class="alert_icon" src="../img/bell_icon.png"/></a>

                <!--Sign in-->
                <a href="./signin.html" class="signin"><p>Sign in</p></a>

                <!--Sign up-->
                <a href="./signup.html" class="signup"><p>Sign up</p></a>

                
               </section>
            </div>
          </div>
        <!--Right Navigation End-->


        <!--Inner Section Start-->
        <div class="container-fluid inner_sec px-3 py-3">
            <h3>Dashboard</h3>
            <p class="py-2">Notice Upload</p>
            
            <!--Notice Form Upload Section Start-->
             <form class="notice_upForm">
                 <!--Class Selectior-->
                 <label class="py-3 text-light" for="class">Student Class</label><br>
                <select name="class" class="px-1 StudentClass" id="class">
                    <option value="Lower Nursery">Lower Nursery</option>
                    <option value="Upper Nursery">Upper Nursery</option>
                    <option value="KG">KG</option>
                    <option value="class-1">1</option>
                    <option value="Class-2">2</option>
                    <option value="Class-3">3</option>
                    <option value="Class-4">4</option>
                    <option value="Class-5">5</option>
                    <option value="class-6">6</option>
                    <option value="Class-7">7</option>
                    <option value="Class-8">8</option>
                    <option value="Class-9">9</option>
                    <option value="Class-10">10</option>
                    <option value="Class-10">11</option>
                    <option value="Class-10">12</option>
                  </select><br><br>

                  

                  <!--Section Selector-->
                  <label class="py-3 text-light" for="class">Student Section</label><br>
                <select name="class" class="px-1 student_section StudentClass" id="class">
                    <option class="sec_a" value="Lower Nursery">A</option>
                    <option class="sec_b" value="Upper Nursery">Science</option>
                    <option class="sec_c" value="KG">Commerce</option>
                    
                  </select><br><br>

                  <section class="d-flex file_upload_sec" style="gap: 5px;">
                    <img src="../img/file-upload.png" width="30px"/>
                    <button type="submit">Upload File</button>
                  </section>
             </form>
            <!--Notice Form Upload Section End-->
        </div>

        <!--Inner Section End-->
     </div>
       <!--Right Section End-->
    </div>

    <!--Boostrap Js Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!--Jquery Link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Js Link-->
    <script src="../admin.js"></script>
</body>
</html>