<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign in</title>

    <!--Boostrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!--Css Style Link-->
    
   <link rel="stylesheet" href="../css/admin.css">
   

    
</head>
<body>
    <div class="container-fluid" style="background-color:#2C3D4D ;">
       <div class="container signin_cont d-flex flex-column align-items-center justify-content-center">
          <h2 style="color: #fff;">LOGO</h2>

          <!--Sign in Form Section Start-->
            <form class="d-flex flex-column align-items-center justify-content-center py-3">
                <!--Email Address-->
                <input class="px-1" type="text" placeholder="Enter Your Email Address"/>

                <!--Password-->
                <input class="px-1" type="text" placeholder="Enter Your Password"/>

                <!--Sign in Submit-->
                <input class="signin_btn" type="submit" value="Sign in"/>

                <!--Create Account / Sign up-->
                <section class="d-flex align-items-center justify-content-center" style="gap: 8px;">
                    <p>Create your account ? </p>
                    <a href="./signup.html"style="color: #fff; text-decoration: none;"> <p> Sign up</p></a>
                </section>
            </form>

          <!--Sign in Form Section End-->

       </div>
    </div>



    <!--Boostrao Js Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="../admin.js"></script>
</body>
</html>